/* _rz-slider-amcust.scss */
/* line 8, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.debug-options {
  margin: 20px 0;
}

/* line 10, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.debug-options input {
  width: 50px;
}

/* line 13, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider {
  border: 1px solid grey;
}

/* line 17, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .heading-output {
  display: flex;
  width: 100%;
  background: yellow;
}

/* line 22, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .heading-output .panels-count {
  width: 100%;
  font-weight: bold;
}

/* line 27, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .heading-output .panels-output {
  white-space: nowrap;
}

/* line 33, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap {
  padding: 10px;
  overflow: hidden;
  /* (END) .rzslider */
}

/* line 37, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 80px;
  background: #ffc;
  margin: 0;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* (END) .rz-bar-wrapper */
  /* (END) .rz-pointer */
  /* (END) .rz-tick */
  /* (END) .btn-slider */
}

/* line 50, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-bar-wrapper {
  top: 15.5px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 9px;
  padding-top: 0;
  margin-top: 0;
  box-sizing: border-box;
  /* (END) .rz-bar */
}

/* line 60, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-bar-wrapper .rz-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 9px;
  background: #E5E6E8;
  border-radius: 0px;
}

/* line 74, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-pointer {
  top: 0px;
  z-index: 3;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: calc(38px);
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: white;
  border-radius: 20px;
  outline: 0;
}

/* line 89, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-pointer:after {
  display: none;
}

/* line 95, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-bubble.rz-limit.rz-ceil,
.amcust-slider .slider-wrap .rzslider .rz-bubble.rz-limit.rz-floor,
.amcust-slider .slider-wrap .rzslider .rz-bubble.rz-model-value,
.amcust-slider .slider-wrap .rzslider .rz-bubble {
  visibility: hidden !important;
  display: none !important;
}

/* line 103, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rzslider .rz-pointer:after {
  display: none;
}

/* line 107, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  width: 1px;
  height: 25px;
  margin-left: 20px;
  text-align: center;
  cursor: pointer;
  background: #cacdd1;
  border-radius: 0px;
  /* (END) &.tick-advice */
}

/* line 120, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.hide-tick {
  background: transparent;
}

/* line 123, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick:not(.show-value) .rz-tick-value {
  display: none;
}

/* line 126, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.show-value .rz-tick-value {
  color: #cacdd1;
  top: auto;
  bottom: -50px;
}

/* line 131, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.tick-advice {
  z-index: 3;
}

/* line 134, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.tick-advice .amcust-advice {
  top: -7px;
  left: -75px;
  z-index: 3;
  position: relative;
  width: 150px;
  height: 80px;
  display: block;
}

/* line 143, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.tick-advice .amcust-advice:before {
  content: "";
  display: block;
  width: 100%;
  height: 9px;
  position: absolute;
  top: 15px;
  left: 0;
  z-index: 3;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5fb624+0,5fb624+50,7db9e8+100&0+0,0.6+50,0+100 */
  background: -moz-linear-gradient(left, rgba(95, 182, 36, 0) 0%, rgba(95, 182, 36, 0.6) 50%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(95, 182, 36, 0) 0%, rgba(95, 182, 36, 0.6) 50%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(95, 182, 36, 0) 0%, rgba(95, 182, 36, 0.6) 50%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005fb624', endColorstr='#007db9e8',GradientType=1 );
  /* IE6-9 */
}

@media (max-width: 767px) {
  /* line 143, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
  .amcust-slider .slider-wrap .rzslider .rz-tick.tick-advice .amcust-advice:before {
    width: 60%;
    left: 50%;
    margin-left: -30%;
  }
}

/* line 165, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.tick-advice .amcust-advice:after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 7.5px 7.5px;
  border-color: transparent transparent #5fb624 transparent;
}

/* line 178, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.tick-advice .amcust-advice .lbl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: yellow;
  text-align: center;
  color: #5fb624;
  font-size: 16px;
  line-height: 16px;
}

/* line 189, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .rz-tick.tick-advice .amcust-advice .lbl.strong {
  font-weight: bold;
}

/* line 201, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .btn-slider {
  position: absolute;
  top: 5px;
  left: 0;
  left: -10px;
  z-index: 2;
  display: block;
  width: 30px;
  height: 30px;
}

/* line 211, C:/xampp/htdocs/angular/angularjs-slider/demo/scss/rz-slider-amcust.scss */
.amcust-slider .slider-wrap .rzslider .btn-slider.plus {
  left: auto;
  right: 0;
  right: -10px;
}

/*# sourceMappingURL=../css/rz-slider-amcust.map */